/*  Fonts
-----
font-family: 'Lora', serif;
font-family: 'Ubuntu', sans-serif;
*/

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.6;
}

/* =================
Typography
================= */

h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;
    font-size: 2rem;
    margin: 0;
}

.subtitle {
    font-weight: 700;
    color: #1792d2;
    font-size: .75rem;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* =================
Layout
================= */

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;
}

.container-home{
   margin-top: 2em;
}

.columns{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}

img{
    width: 100%;
}

.col1{
margin-right: 2em;
}
.col2{

}

header {
    background: #f8f8f8;
    padding: 2em 0;
}

footer{
    background:#345480;
    color: rgba(255,255,255, .65);
    text-align: center;
    padding: 1em;
}
.footer-bold{
    font-weight: bold;
}

@media (max-width: 675px) {
    .container-nav {
        flex-direction: column;
    }
    
    header {
        text-align: center;
    }
}

/* navigation */

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: .25em 0;
}

nav a:hover,
nav a:focus {
    color: #1792d2;
    outline: none;
}

.current-page {
    border-bottom: 1px solid #707070;
}

.current-page:hover {
    color: #707070;
}

@media (max-width: 675px) {
    nav ul {
        flex-direction: column;
    }
    
    nav li {
        margin: .5em 0;
    }
} 

/* ***LEFT-SIDE*** */
.life-picture{
    width: 90%;
}

.cooking, .work, .deco, .life{
    display: flex;

}

.left{
   margin: 1.5rem;
   margin-left: 0;
}

.left-p{
    width: 198px;
}

.right-p{
    width: 150px;
}

/* ****RIGHT-SIDE**** */
.about-me, .recent-post{
    border: 20px solid #EBEBEB;
    padding: 0.5rem;
     margin: 0 0 2em;
}
.recent-post{
    border: 20px solid #EBEBEB;
    padding: 0.5rem;
    /* margin: 2em; */
} 

hr{
    margin: 0;
    margin-bottom: 1em;
}

/* ****FONTS**** */

.cont-reading{
    text-transform: uppercase;
    color: #1792D2;
    font: normal normal bold 14px Ubuntu;
    letter-spacing: 2.8px;
}

.cont-reading:hover,
.cont-reading:focus {
    color: #143774;
    text-decoration: underline;
    cursor: pointer;
}

h2{
    text-align: left;
    font: normal normal normal 24px Lora;
    letter-spacing: 4.8px;
    color: #143774;
}

h3{
     color: #1792d2;
}

.about-title, .recent-title{
    text-align: left;
    font: normal normal bold 18px/28px Ubuntu;
    letter-spacing: 3.6px;
    color: #143774;
    text-transform: uppercase;
    opacity: 1;
}

.title-right{
    text-align: left;
    font: normal normal normal 18px/28px Lora;
    letter-spacing: 0px;
    color: #143774;
    opacity: 1;
}

@media (max-width: 675px){
    .columns,
    .cooking,
    .work,
    .deco,
    .life{
        flex-direction: column;
    }
    .col1{
        width: 80%;
        margin: 0 auto;
    }
    .left-p{
        width: 100%;
    }
    p{
        width: 95%;
    }
    .life-picture{
        width: 95%;
    }
    .col1 h2{
        margin-top: -0.5rem;
    }
    .about-title{
        text-align: center;
    }
    .recent-title, .title-right{
        text-align: center;
    }
    footer{
        text-align: center;
    }
    .right-p{
        width: 100%;
    }
    .text{
        margin: 2em 0 2em;
    }
    
}